@use 'style/ui/mixins';

$text-color: #302c34;

.promo {
	--card-bg: white;
	z-index: -1;

	&--slide {
		min-height: 300px;
		padding: 70px;
		width: 100%;

		transition: background-color 1s;
		background-color: var(--card-bg);
		border-radius: 10px;

		color: $text-color;
		filter: drop-shadow(0px 7px 12px rgba(158, 158, 163, 0.1));

		background-repeat: no-repeat;
		background-position: right top;
		background-size: auto 100%;

		@media screen and (max-width: 1000px) {
			padding: 60px;
		}

		@media screen and (max-width: 900px) {
			padding: 50px;
		}

		@media screen and (max-width: 750px) {
			padding: 40px;
		}

		@media screen and (max-width: 600px) {
			padding: 25px;
		}

		@media screen and (max-width: 500px) {
			display: none;
		}
	}

	&--title {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 39px;
		line-height: 46px;
	}

	&--text {
		padding-top: 15px;
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 28px;
	}
}
